<div class="max-w-screen-lg w-full flex flex-col items-center">
    <form class="flex gap-5 mb-10 w-full" (ngSubmit)="submitForm()">
      <input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Avengers, Matrix, ..." class="h-10 block w-72 text-sm font-medium rounded-2xl text-gray-900 pl-2">
      <button type="submit" class="bg-gray-700 p-2 rounded-2xl hover:bg-sky-600 duration-300">Search</button>
    </form>
  
    <ul *ngIf="movies.length > 0" class="grid grid-cols-2 gap-2 max-w-2xl mx-auto">
      <li class="mb-4" *ngFor="let movie of movies">
        <article>
          <img [src]="movie.poster" alt="movie image" class="aspect-[11/16] w-full h-auto object-cover rounded-lg">
          <h2 class="text-white flex justify-between items-center">
            {{ movie.title }}
            <span class="text-xs text-gray-400">{{ movie.year }}</span>
          </h2>
        </article>
      </li>
    </ul>
  
    <p *ngIf="movies.length === 0" class="text-2xl mb-96">Movies not found.</p>
  </div>